* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}
body {
  max-width: 1520px;
  padding-top: 76px;
  margin: 0 auto;
}
img,
video {
  height: 100%;
  width: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-d-c {
  flex-direction: column;
}
.f-a-s {
  align-items: start;
}
.main-btn {
  width: 184px;
  height: 58px;
  font-size: 1.125em;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.main-btn span {
  display: inline-block;
  transform: translateY(1.2px);
}
.m-btn-white {
  background-color: white;
}
.m-btn-yellow {
  background-color: var(--yellow);
  transition: 120ms;
}
.m-btn-yellow:hover {
  opacity: 0.86;
}
:root {
  --display: 3.5em;

  --heading-1: 3em;
  --heading-2: 2.25em;
  --heading-3: 1.75em;
  --heading-4: 1.5em;
  --heading-5: 1.25em;
  --heading-6: 1em;
  --heading-7: 0.75em;

  --black-900: #232536;
  --black-800: #4c4c4c;
  --black-700: #6d6e76;

  --white-600: #f4f4f4;
  --white-500: #fbf6ea;

  --yellow: #ffd050;

  --purple-900: #592ea9;
  --purple-800: #f4f0f8;
}
/* Core styles end */

/* Header start */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.6em 7.4%;
  justify-content: space-between;
  background-color: var(--black-900);
  z-index: 10;
}
.header-menu-i {
  visibility: hidden;
}
.header-links-button {
  gap: 1.72em;
}
.header-links {
  display: flex;
  gap: 1.28em;
}
.header-links a {
  text-decoration: none;
  color: white;
}
/* Header end */

/* Categories section start */
.categories {
  padding: 4% 1.2%;
  display: grid;
  gap: 4em;
}
.categories-info {
  text-align: center;
}
.categories-container {
  gap: 0.8em;
}
.category {
  display: grid;
  gap: 1em;
  padding: 1.8%;
  transition: 120ms;
  border-radius: 12px;
  flex-basis: 260px;
}
.category:hover {
  background-color: var(--yellow);
}
.category:hover .c-i-more {
  background-color: white;
}
.category-img {
  width: 48px;
  height: 48px;
}
.category-img img {
  border-radius: 8px;
}
.c-i-more {
  padding: 12px;
  background-color: rgba(128, 128, 128, 0.05);
  border-radius: 8px;
}
.category h4 {
  font-size: var(--heading-3);
}
.category p {
  line-height: 1.4em;
  color: var(--black-700);
}
/* Categories section end */

/* join section start */
.join {
  padding: 11.2% 6%;
  text-align: center;
  flex-direction: column;
  gap: 1.4em;
}
.join h1 {
  font-size: var(--heading-2);
  width: 460px;
  color: var(--black-800);
}
.join p {
  width: 440px;
  font-size: var(--heading-6);
  letter-spacing: 1px;
  color: var(--black-700);
}
/* join section end */

/* footer section start */
footer {
  background-color: var(--black-900);
  padding: 4% 5%;
  flex-direction: column;
  gap: 3em;
}
.footer-header {
  height: 40px;
  width: 100%;
  justify-content: space-between;
}
.footer-form {
  width: 100%;
  padding: 6.6% 4%;
  background-color: rgba(128, 128, 128, 0.14);
  color: white;
  justify-content: space-between;
}
.footer-form {
  align-items: start;
  gap: 18px;
}
.footer-content {
  gap: 1.4em;
  width: 50%;
}
.footer-form label {
  width: 50%;
  font-size: 2.4vw;
  line-height: 1.4em;
  font-weight: 600;
  letter-spacing: -1px;
}
@media (min-width: 1440px) {
  .footer-form label {
    font-size: var(--heading-2);
  }
}
.footer-form input {
  width: 100%;
  height: 54px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding-left: 4%;
  font-size: var(--heading-6);
}
.footer-form input:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-links {
  width: 100%;
  justify-content: space-between;
  color: var(--white-500);
  letter-spacing: 1px;
}
.footer-links-info {
  display: grid;
  gap: 0.4em;
}
.footer-links-icons {
  display: flex;
  gap: 1.4em;
  font-size: 1.12em;
  color: var(--black-700);
}
/* footer section end */

@media (max-width: 1000px) {
  body {
    padding-top: 66px;
  }
  .header {
    padding-inline: 3.4%;
    font-size: 14px;
  }
  .main-btn {
    width: 162px;
    height: 50.2px;
  }
  .categories {
    font-size: 13.4px;
  }
  .categories-container {
    gap: 10px;
  }
  .category-img {
    transform: scale(0.72);
  }
  footer {
    font-size: 14px;
  }
  .footer-form input {
    height: 46px;
  }
}
@media (max-width: 828px) {
  .categories {
    font-size: 13.02px;
  }
  .categories-container {
    gap: 0.6em;
  }
  .category {
    gap: 0.7em;
    pad: 1%;
  }
  footer {
    font-size: 13px;
    gap: 3.2em;
    padding: 20px 4%;
  }
}
@media (max-width: 740px) {
  body {
    padding-top: 50px;
  }
  .header {
    padding: 0.4em 2%;
    font-size: 12.8px;
  }
  .header-logo img {
    width: 100px;
  }
  .main-btn {
    width: 140px;
    height: 40px;
  }
  .categories {
    font-size: 14px;
  }
  .categories-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .category {
    border-radius: 6px;
    padding: 4%;
  }
  .footer-form input {
    height: 40px;
  }
  .join {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .footer-form {
    flex-direction: column;
    text-align: center;
  }
  .footer-content {
    width: 100%;
  }
  .footer-form label {
    width: 100%;
    letter-spacing: initial;
    font-size: var(--heading-3);
  }
}
@media (max-width: 600px) {
  body {
    padding-top: 32px;
  }
  .header-links-button {
    display: none;
  }
  .header-menu-i {
    visibility: visible;
    color: white;
  }
  footer {
    font-size: 12px;
  }
  .footer-header {
    flex-direction: column;
    gap: 1.4em;
  }
  .footer-form label {
    font-size: var(--heading-3);
  }
  .footer-form {
    gap: 2.4em;
  }
  .join > *:not(.main-btn) {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .categories-container {
    grid-template-columns: 1fr;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-content button {
    width: 100%;
  }
  .footer-links {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 1.2em;
  }
  .footer-form label {
    font-size: var(--heading-4);
  }
  .footer-header {
    height: auto;
    text-align: center;
  }
  footer .header-links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .join {
    font-size: 12px;
  }
  .join > button.main-btn {
    width: 120px;
    height: 34px;
  }
}
