@media (max-width: 1066px) {
  #main {
    font-size: 1.44vw;
  }
  .main-content-img {
    width: 40%;
  }
  .main-content img {
    width: 100%;
  }
  .main-content-info {
    width: 60%;
  }
}
@media (max-width: 780px) {
  #main {
    flex-direction: column-reverse;
    font-size: 12px;
  }
  .business-main-info{
    font-size: 14px;
  }
  .main-contents {
    width: 100%;
  }
  .main-aside {
    width: 100%;
    gap: 1.6em;
  }
  .main-aside-categories {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 0.6em;
  }
  .main-aside-category {
    padding: 3.8% 4.4%;
  }
  .main-aside-category img {
    width: 28px;
    height: 28px;
    width: 20%;
    height: 80%;
    border-radius: 20%;
  }
  .main-aside-category img:not(.imgPng) {
    padding: 4.4%;
  }
  .main-aside-category h2 {
    font-size: var(--heading-5);
  }

  .main-aside-tags-container {
    justify-content: center;
    padding: 1.2em 0;
  }
  .main-aside-tags {
    gap: 0;
  }
  .main-aside-tags-container > .main-aside-tag {
    width: initial;
    padding: 2% 4%;
  }
  .main-aside {
    gap: 1.2em;
  }
}

@media (max-width: 600px) {
  .business-main-info{
    font-size: 12px;
    padding: 20px 10px;
  }
  .business-main-info p{
    width: 80%;
  }
  .main-aside-categories {
    grid-template-columns: 2fr 2fr;
  }
  .main-aside-category{
    padding: 2% 4%;
    /* height: 60px; */
  }
  .main-aside-category img:not(.imgPng) {
    padding: 3.4%;
  }
  .main-contents{
    gap: 1.2em;
  }
  .main-content{
    width: 340px;
    flex-direction: column;
    gap: 1em;
  }
  .main-content-img{
    width: 100%;
  }
  .main-content-info{
    width: 100%;
    padding-left: 2%;
  }
}
@media (max-width:340px) {
  #main{
    font-size: 3.4vw;
  }
  .main-content{
    width: 100%;
  }
}
