@media (max-width: 1000px) {
  .about-main {
    font-size: 1.52vw;
  }
  .about-main-description-info {
    width: 100%;
  }
  .about-main-description-info h2 {
    width: 90%;
  }
  .about-main-info {
    height: 300px;
  }
  .about-main-info > div {
    transform: translateY(128px);
  }
  .about-main-img-info {
    width: 48%;
  }
  .about-main-img-info-number {
    padding: 8% 3.2% 8% 3.8%;
  }
  .about-blogs {
    font-size: 1.48vw;
  }
  .authors {
    font-size: 14px;
    padding-top: 4.6em;
  }
  .authors-container {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
  }
  .author-img {
    width: 120px;
    height: 120px;
  }
  .author h2 {
    font-size: var(--heading-3);
  }
  .author p {
    font-size: var(--heading-6);
  }
}
@media (max-width: 800px) {
  .about-main-info {
    height: 280px;
  }
  .about-main-info > div {
    transform: translateY(124px);
  }
  .about-main-info-heading {
    padding-right: 50px;
  }
}
@media (max-width: 600px) {
  .authors-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 680px) {
  .about-main {
    font-size: 12px;
  }
  .about-main-info {
    flex-direction: column;
    height: auto;
    padding: 6% 2%;
  }
  .about-main-info div {
    transform: translateY(0);
  }
  .about-main-info-heading {
    width: 100%;
    padding: 0;
  }
  .about-main-info-paragraph {
    width: 100%;
  }
  .about-main-description {
    flex-direction: column;
    gap: 2em;
    padding: 6% 2%;
  }
  .about-main-description-info {
    gap: 0.72em;
  }
  .about-main-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .about-main-img-container img {
    width: 1000px;
  }
  .about-main-img-info {
    width: 360px;
    left: 0;
  }
  .about-main-img-info-line {
    right: 0;
  }

  .about-blog {
    gap: 4%;
    font-size: 1.6vw;
  }
  .about-blog-info {
    width: 50%;
  }
  .about-blog-img,
  .about-blog-img2 {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .about-blogs {
    gap: 8em;
    padding: 4% 2%;
  }
  .about-blog {
    flex-direction: column;
    font-size: 12px;
  }
  .about-blog:last-child {
    flex-direction: column-reverse;
    gap: 3.2%;
  }
  .about-blog-img,
  .about-blog-img2 {
    width: 100%;
    /* height: 340px; */
  }
  .about-blog-img::before {
    top: -10%;
    left: initial;
    right: 0;
    bottom: initial;
    border-top-left-radius: initial;
    border-top-right-radius: 40%;
    width: 12%;
    height: 18%;
  }
  .about-blog-info {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .about-main-info-heading h1 {
    font-size: var(--heading-3);
  }
  .about-main-img-info {
    width: 100%;
    font-size: 3.2vw;
  }
  .about-blog {
    font-size: 3.06vw;
  }
}
@media (max-width:340px) {
  .blog-description{
    font-size: 1.08em;
  }
}